@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: 'cooper';
  src: url('../font/CooperBlackStd.otf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #111;
  font-family: 'Noto Sans KR', sans-serif;
}
h2 {
  color: #111;
  font-family: 'Noto Sans KR', sans-serif;
}
p {
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
}
li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}
img {
  width: 100%;
}
/* main-visual */
.main-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-visual {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 997;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
/* slide-banner setting */
.swiper-slide-banner1 {
  background-image: url(../img/main-visual/1.jpg);
}
.swiper-slide-banner2 {
  background-image: url(../img/main-visual/2.jpg);
}
.swiper-slide-banner3 {
  background-image: url(../img/main-visual/3.jpg);
}
.swiper-slide-banner4 {
  background-image: url(../img/main-visual/4.jpg);
}
.swiper-slide-banner5 {
  background-image: url(../img/main-visual/5.jpg);
}
.swiper-slide-banner6 {
  background-image: url(../img/main-visual/6.jpg);
}
/* slide-banner setting -end */
.swiper-slide a {
  height: 100%;
  width: 100%;
}

.swiper-scrollbar {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.086);
}
.swiper-scrollbar-drag {
  background-color: #eee;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 1%;
  bottom: 130px;
  z-index: 50;
  height: 4px;
  width: 98%;
}

.swiper-text {
  position: absolute;
  left: 7%;
  bottom: 0;
  transition: all 2s;
  opacity: 0;
  text-align: left;
}
.swiper-text h2 {
  font-size: 45px;
  font-weight: 700;

  margin: 0;
}
.swiper-text p {
  font-size: 22px;
  margin: 10px 0;
  font-weight: 700;
}

/* fix-btn */

.fix-btn {
  background-color: #ef426f;
  padding: 14px 16px;
  transform: rotate(270deg);
  transform-origin: right bottom;
  position: fixed;
  text-align: center;
  z-index: 999;
  display: inline-block;
  right: 0;
  top: 40%;
}
.fix-btn a {
  color: #f5e2e2;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

/* header */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  transition: all 1s;
  padding-bottom: 50px;
}

.header-wrap {
  display: flex;
  padding: 33px 60px;
  align-items: flex-end;
}
.menu-list {
  flex: none;
  display: flex;
  /* padding: 40px 50px 0 50px; */
  margin-left: 50px;
  position: relative;
}
.menu-list > li {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 30px 0 10px;
  margin: 0 10px;
}
.menu-list > li :hover {
  color: #ef426f;
}

.menu-list > li:first-child::after {
  content: 'NEW';
  font-size: 14px;
  display: block;
  position: absolute;
  top: 4px;
  left: 120px;
  color: #ef426f;
}

.search-menu {
  padding: 50px 0 0 50px;
  margin-left: auto;
}
.search-menu span {
  margin-left: 15px;
}
.search-menu img {
  width: 35px;
}
/* 2차원메뉴 */

.menu-list > li > ul {
  position: absolute;
  display: none;
  width: 100%;
}
.menu-list > li:hover > ul {
  display: block;
}
.menu-list ul li {
  float: left;
  padding: 20px 30px 0 0px;
}

/* menu-modal */
.menu-modal-wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(242, 198, 207, 0.65);
  backdrop-filter: blur(12px);
  position: absolute;

  display: none;
  z-index: 999;
}

.menu-modal-list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  margin-top: 13%;
  line-height: 70px;
  font-weight: 700;
}

.menu-modal-list a:hover {
  color: #ef426f;
}

/* search */
.search-wrap {
  z-index: 998;
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(12px);
  display: none;
}
.search-content {
  padding: 20px 60px 100px 60px;
  text-align: center;
}
.search-content input {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 70%;
  font-size: 20px;
  font-weight: bold;
}
.search-content button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 22px;

  cursor: pointer;
}

.search-content h2 {
  padding-top: 200px;
  padding-bottom: 50px;
  font-size: 45px;
}
.search-info {
  display: inline;
  padding: 15px;
  /* background-color: rgba(231, 232, 234, 0.5); */
  background-color: #fff;
  border-radius: 15px;
}
/* search-keyword */
.trend-keyword ul {
  display: flex;
  flex-flow: row wrap;
  padding-top: 100px;
  align-items: center;
  text-align: left;
}

.trend-keyword ul li {
  margin-right: 20px;
  padding: 5px 0;
  border: 1px solid gray;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}
.trend-keyword ul li a {
  color: #333;
  padding: 5px 20px;
}
.trend-keyword ul li:first-child {
  border: none;
  font-size: 30px;
  padding: none;
  font-weight: lighter;
  margin-left: 0;
  width: 100%;
}
/* ----------------best-item- section */
.section2 {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.best-items {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 150px 0;
  background-color: #fbf3eb;
}

.best-item-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  overflow-x: auto;
  z-index: 11;
  box-sizing: border-box;
}

.item {
  text-align: center;
  padding-bottom: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
.item-info .best-item-title {
  margin-bottom: 8px !important;
  min-height: 40px;
  font-size: 20px;
  line-height: 20px;
}
.item-info .best-item-price {
  font-weight: bolder;
  font-size: 24px;
}
.best-item-wrap img {
  width: 100%;
  height: 100%;

  max-width: 500px;
  max-height: 500px;
}
/* super maquee 애니메이션*/
.body__inner-wrapper {
  /* height: 100%; */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: center;
  margin-inline: auto;
  margin-block-start: 6rem;
  position: absolute;
  z-index: 10;
}

.outline__text {
  font-family: sans-serif;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

.marquee {
  width: 100%;
  height: 12rem;
  pointer-events: none;

  overflow: hidden;
}

.marquee__inner-wrap {
  height: 100%;
  width: 100%;
}

.marquee span {
  text-align: center;
  color: #171c8f;
  font-weight: 400;
  white-space: nowrap;
  font-size: max(170px, 2.4rem);
  line-height: 1.2;
  font-weight: 700;
  padding: 1vh 1vw 0;

  font-family: 'cooper', sans-serif;
}

.marquee__inner {
  height: 100%;
  width: fit-content;
  align-items: center;
  display: flex;

  position: relative;
  animation: marquee 20s linear infinite;
  will-change: transform;
}

@keyframes marquee {
  to {
    transform: translateX(-50%);
  }
}

/* ----------------best-item- section  끝*/
/* section3 makeup-look 시작 */
.section3 {
  padding: 100px 20px;
  background-image: url(../img/section3-makeup-look/bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section3-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.section3-intro {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}
.section3-title {
  margin-bottom: 26px;
  line-height: 43px;
  font-weight: 700;
  font-size: 38px;
}
.section3-des {
  font-weight: 700;
  font-size: 20px;
}

.view-more {
  background-color: #333;
  padding: 15px 30px;
  border-radius: 4px;
  margin: 32px 0 84px 0;
}
.view-more a {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.section3-contain {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 100px 0;
  opacity: 0;
  transition: all 3s;
}

.section3-img {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.section3-img img {
  width: 100%;
  box-shadow: 5px 5px 4px rgb(51 51 51 / 20%);
}

.box-wrap {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
}

.box-wrap .box-content {
  margin-right: 20px;
  position: relative;
  display: inline-block;
  min-width: 300px;
  overflow: hidden;
}
.box-wrap .box-content:last-child {
  margin-right: 0;
}
.box-wrap .box-content img {
  transition: all 1s;
  width: 100%;
}

.box-wrap .box-content img:hover {
  transform: scale(1.1, 1.1);
}
.box-wrap .box {
  margin: 20px;
  position: absolute;
  top: 0;
  padding: 8px 20px;
  background-color: #333;
  color: #f5e2e2;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 700;
}
.box-wrap .go-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
  width: 45px;
  height: 45px;
  background: #171c8f url(../img/section3-makeup-look/icon-arrow-banner-1.svg);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
/* section4  */

.section4 {
  padding: 200px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.section4-intro {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}
.section4-title {
  margin-bottom: 26px;
  line-height: 43px;
  font-weight: 700;
  font-size: 38px;
}
.section4-des {
  font-weight: 700;
  font-size: 20px;
}

.section4-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.section4 .product-wrap {
  display: flex;
  width: 100%;
  height: 100%;
}

.section4 .product-wrap .product-banner {
  width: 50%;
  height: 100%;
  background-image: url(../img/section4-soonjung/bg.jpg);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}
.section4 .product-wrap .products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 49%;
  height: 100%;
}
.product-title:hover a {
  color: rgb(164, 164, 164);
  transition: all 0.3s;
}
.section4 .product-wrap .products .product {
  width: 45%;

  padding: 0 10px;
}
.section4 .product-wrap .products .product .product-img a {
  width: 100%;
  overflow: hidden;
}
.section4 .product-wrap .products .product .product-img {
  position: relative;

  overflow: hidden;
}
.section4 .product-wrap .products .product img {
  display: block;
  width: 100%;
}

.section4 .product-wrap .products .product-img .product-hover {
  position: absolute;
  top: 0;
}
.section4 .product-wrap .products .product-img .product-hover a img {
  transition: all 1s;
  transform: scale(1, 1);
  opacity: 0;
}

.section4 .product-wrap .products .product-img:hover .product-hover a img {
  transform: scale(1.2, 1.2);
  opacity: 1;
}
/* .section4 .product-wrap .products .product-img:hover .product-hover {
  display: block;
} */
.product-info {
  padding: 15px 20px;
  background-color: #fafafa;
  display: flex;
  flex-flow: column;
  min-height: 150px;
}
.product-title {
  margin-bottom: 10px;
  line-height: 30px;
  font-weight: bold;
}
.product-price {
  border: 1px solid #d9d9d9;
  background: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 7px 12px;
}
/* section5 */
.section5 {
  padding: 150px 0 100px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  position: relative;
}
.section5-mobile-btn {
  display: none;
}
.section5-intro {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}
.section5-title {
  margin-bottom: 26px;
  line-height: 43px;
  font-weight: 700;
  font-size: 38px;
}
.section5-des {
  font-weight: 700;
  font-size: 20px;
}

.section5-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.section5-items {
  padding: 0 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.section5-item {
  position: relative;
  overflow: hidden;
  margin-right: 5px;
}
.section5-item:last-child {
  margin-right: 0;
}
.section5-item a img {
  transition: all 0.4s;
  display: block;
}
.section5-item:hover a img {
  transform: scale(1.1, 1.1);
}

.section5-item .section5-label {
  background-color: #feda00;
  padding: 5px 10px;
  margin: 20px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  color: #111;
  font-weight: bold;
  border-radius: 2px;
}
/* section6  */
.section6 {
  padding: 100px 0 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;

  position: relative;
  background-image: url(../img/section6-whats-new/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section6-intro {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}
.section6-title {
  margin-bottom: 26px;
  line-height: 43px;
  font-weight: 700;
  font-size: 38px;
}
.section6-des {
  font-weight: 700;
  font-size: 20px;
}

.section6-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.section6 .product-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}

.section6 .product-wrap .products {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 90%;
  height: 100%;
}
.product-title:hover a {
  color: rgb(164, 164, 164);
  transition: all 0.3s;
}
.section6 .product-wrap .products .product {
  width: 45%;

  padding: 0 10px;
}
.section6 .product-wrap .products .product .product-img a {
  width: 100%;
  overflow: hidden;
}
.section6 .product-wrap .products .product .product-img {
  position: relative;

  overflow: hidden;
}
.section6 .product-wrap .products .product img {
  display: block;
  width: 100%;
}

.section6 .product-wrap .products .product-img .product-hover {
  position: absolute;
  top: 0;
}
.section6 .product-wrap .products .product-img .product-hover a img {
  transition: all 1s;
  transform: scale(1, 1);
  opacity: 0;
}

.section6 .product-wrap .products .product-img:hover .product-hover a img {
  transform: scale(1.2, 1.2);
  opacity: 1;
}
.section6 .product-info {
  padding: 15px 20px;
  background-color: rgba(250, 250, 250, 0.4) !important;
  backdrop-filter: blur(10px);
  display: flex;
  flex-flow: column;
}
.section6 .product-title {
  margin-bottom: 10px;
  min-height: 80px;
  line-height: 30px;
  font-weight: bold;

  -webkit-line-clamp: 2;
}

.section6 .product-price {
  border: 1px solid #d9d9d9;
  background: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 7px 12px;
}
.section6-mobile-btn {
  display: none;
}
.product-info .product-tag-wrap {
  width: 100%;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-line-clamp: 1;
}
/* section6 end */
/* section7 */
.section7 {
  padding: 200px;
  position: relative;
}
.section7::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(180deg, #f5e2e2 0%, #f2c6cf 100%);
  background: linear-gradient(180deg, rgba(245, 226, 226, 0.8) 0%);
}
.section7-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.section7-tiktok-wrap {
  z-index: 3;
  display: flex;
  position: relative;
}

.section7-tiktok-title {
  font-size: 30px;
}
.section7-tiktok-title p {
  position: absolute !important;
  flex: none !important;
  left: 0;
  top: 70px;
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 49px;
  text-align: right;
  color: #111;
  transform: rotate(-90deg);
  margin: 0px -150px;
  padding-bottom: 220px;
}
.section7-tiktok-img {
  width: 500px;
}
.section7-tiktok-img div {
  padding-bottom: 50px;
}
.section7-tiktok-img p {
  text-align: right;
  font-size: 50px;
  font-weight: 200;
}

.section7-instagram-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 200px;

  z-index: 2;
}

.section7-icon img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  display: block;
}
.section7-instagram-banner {
  width: 700px;
  height: 700px;
  overflow: hidden;

  position: relative;
}
.section7-instagram-banners p {
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
}
.section7-instagram-banner ul {
  position: absolute;
}
.section7-instagram-banner ul li {
  float: left;
  width: 700px;
  height: 700px;
}
/* section 8  */
.section8 {
  padding: 100px 20px;
}
.section8-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.section8-intro {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}
.section8-title {
  margin-bottom: 26px;
  line-height: 43px;
  font-weight: 700;
  font-size: 38px;
}

.view-more {
  background-color: #333;
  padding: 15px 30px;
  border-radius: 4px;
  margin: 32px 0 84px 0;
}
.view-more a {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.box-wrap {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
}

.box-wrap .box-content {
  margin-right: 20px;
  position: relative;
  display: inline-block;
  min-width: 300px;
  overflow: hidden;
}
.box-wrap .box-content:last-child {
  margin-right: 0;
}
.box-wrap .box-content img {
  transition: all 1s;
  width: 100%;
}

.box-wrap .box-content img:hover {
  transform: scale(1.1, 1.1);
}
.box-wrap .box {
  margin: 20px;
  position: absolute;
  top: 0;
  padding: 8px 20px;
  background-color: #333;
  color: #f5e2e2;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 700;
}
.section8-mobile-btn {
  margin-left: auto;
  display: none;
  font-size: 14px;
}
/* footer */
.footer {
  background-color: #f7f7f7;
  padding: 70px 100px;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
footer .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
footer .container {
  max-width: 100%;
  margin: 0 auto;
}
.footer-col h4 {
  font-size: 18px;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-logo {
  display: flex;
  flex-flow: column nowrap;
}
.footer-logo > div {
  margin-bottom: 20px;
}
.footer-logo img {
  width: 200px;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li {
  color: #777;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #222;
  text-decoration: none;
  font-weight: 300;
  color: #777;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #e91e63;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #f2c6cf;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #333;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #e91e63;
}
.fab {
  width: 40px;
}
footer .box {
  padding-top: 80px;
}
footer .box_wrap {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  text-align: center;
}
/*-------------------- respone ---------------------- */
@media (max-width: 1024px) {
  .footer {
    background-color: #f7f7f7;
    padding: 70px 50px;
  }
  footer .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .footer-col {
    width: 40%;
    padding: 20px 15px;
  }
  .footer-notice li {
    float: left;
    margin-right: 10px;
  }
  .marquee span {
    text-align: center;
    color: #171c8f;
    font-weight: 400;
    white-space: nowrap;
    font-size: max(120px, 2.4rem);
    line-height: 1.2;
    font-weight: 700;
    padding: 1vh 1vw 0;
    font-family: 'cooper', sans-serif;
  }
  .swiper-slide-banner1 {
    background-image: url(../img/main-visual/respone/1.jpg);
  }
  .swiper-slide-banner2 {
    background-image: url(../img/main-visual/respone/2.jpg);
  }
  .swiper-slide-banner3 {
    background-image: url(../img/main-visual/respone/3.jpg);
  }
  .swiper-slide-banner4 {
    background-image: url(../img/main-visual/respone/4.jpg);
  }
  .swiper-slide-banner5 {
    background-image: url(../img/main-visual/respone/5.jpg);
  }
  .swiper-slide-banner6 {
    background-image: url(../img/main-visual/respone/6.jpg);
  }

  /* main-visual 페이지네이션 */
  .swiper-horizontal > .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: 90px;
  }

  .swiper-text h2 {
    font-size: 45px;
  }
  .swiper-text p {
    font-size: 25px;
  }
  .fix-wrap {
    display: none;
  }
  /* header */
  .header {
    background-color: 'rgba(255, 255, 255, 0.6)';
    backdrop-filter: 'blur(12px)';
  }
  .header-wrap {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
  }

  .menu-list {
    display: none;
  }
  .search-menu {
    margin-left: auto;
    padding: 25px 0 0 0;
    /* width: 100%; */

    /* padding: 0 0 0 50px; */
  }
  .search-menu img {
    width: 7vw;
  }
  .search-menu span {
    margin-left: 1vw;
  }
  /* modal-menu */
  .menu-modal-list {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    margin-top: 28vw;
    line-height: 60px;
    font-weight: 700;
  }
  /* search */
  .search-content {
    padding: 20px 10px 100px 10px;
    text-align: center;
  }
  .search-content h2 {
    padding-top: 25%;
    padding-bottom: 50px;
    font-size: 45px;
  }
  .search-content input {
    width: 80%;
    font-size: 25px;
    font-weight: bold;
  }
  /* section2 - best-item */
  .best-item-wrap {
    justify-content: left;
  }
  .best-items {
    padding: 100px 0;
  }

  /* marquee 높이 */
  .body__inner-wrapper {
    margin-block-start: 1rem;
  }
  .best-item-wrap img {
    min-width: 300px;
  }
  /* section3  */
  .box-wrap {
    justify-content: left;
    overflow-x: scroll;
  }
  .section3-contain img {
    width: 100%;
  }
  /* section4 */
  .section4 {
    position: relative;
    padding: 100px 0;
  }
  .section4 .product-wrap {
    position: relative;
  }
  .section4-wrap {
    position: absolute;
    z-index: 998;
    margin: 0 auto;
    width: 100%;
    top: 30%;
  }
  .section4-intro h2,
  .section4-intro p {
    color: #ffffff;
  }
  .section4-intro img,
  .section4-intro .view-more {
    display: none;
  }
  .section4 .product-wrap .product-banner {
    width: 100%;
    height: 100%;
    background-image: url(../img/section4-soonjung/bg.jpg);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    position: relative;
  }
  .section4 .product-wrap .products {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    width: 100%;
    position: absolute;
    justify-content: left;
    overflow-x: scroll;
  }

  .section4 .product-wrap h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-line-clamp: 2;
  }
  .product-info {
    min-height: 100px;
  }
  .section4 .product-wrap .products .product .product-img {
    max-height: 350px;
  }
  .section4 .product-wrap .products .product {
    padding-bottom: 40px;
  }

  /* seection4 끝 */
  /* section5 */
  .section5 {
    overflow-x: hidden;
  }
  .section5-items {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    overflow-x: scroll;
  }

  .section5-item {
    position: relative;
    margin-bottom: 40px;
    margin-right: 10px;
    min-width: 380px;
  }
  /* section6  */
  .section6 {
    position: relative;
    padding: 100px 0;
  }

  .section6 .product-wrap .products {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    width: 100%;

    justify-content: left;
    overflow-x: scroll;
  }

  .product-info {
    min-height: 100px;
  }

  .section6 .product-wrap .products .product {
    padding-bottom: 40px;
    width: 300px;
  }

  .section6 .product-wrap h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-line-clamp: 2;
  }
  .section6 .product-info > div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-line-clamp: 2;
  }
  .section7 {
    padding: 0;
    position: relative;
  }

  .section7-tiktok-wrap {
    display: none;
  }
  .section7-icon img {
    display: none;
  }
  .section7-instagram {
    width: 100%;
  }
  .section7-instagram-wrap {
    margin-left: 0;
    width: 100%;
  }

  .section7-instagram-banners {
    width: 100%;
    height: 100vw;
    position: relative;
  }
  .section7-instagram-banners p {
    position: absolute;
    z-index: 5;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    top: 3%;
    left: 3%;
    font-family: 'cooper';
  }
  .section7-instagram-banner {
    width: 100%;
    height: 100vw;
  }
  .section7-instagram-banner ul li {
    float: left;
    width: 100vw;
    height: 100vw;
  }
  .section7-instagram-banner ul li img {
    object-position: center;
    object-fit: cover;
  }
  /* footer */
  footer .text_box p {
    padding: 10px 0;
  }

  footer .des2 {
    font-size: 18px;
    font-weight: 700;
  }
  footer .end {
    text-align: center;
    font-size: 20px;
  }
  footer .end p {
    padding: 5px 0;
  }
}
@media (max-width: 728px) {
  .swiper-slide-banner1 {
    background-image: url(../img/main-visual/respone/1.jpg);
  }
  .swiper-slide-banner2 {
    background-image: url(../img/main-visual/respone/2.jpg);
  }
  .swiper-slide-banner3 {
    background-image: url(../img/main-visual/respone/3.jpg);
  }
  .swiper-slide-banner4 {
    background-image: url(../img/main-visual/respone/4.jpg);
  }
  .swiper-slide-banner5 {
    background-image: url(../img/main-visual/respone/5.jpg);
  }
  .swiper-slide-banner6 {
    background-image: url(../img/main-visual/respone/6.jpg);
  }

  /* main-visual 페이지네이션 */
  .swiper-horizontal > .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: 90px;
  }

  .swiper-text h2 {
    font-size: 26px;
  }
  .swiper-text p {
    font-size: 14px;
  }
  .fix-wrap {
    display: none;
  }
  /* header */
  .header-wrap {
    display: flex;
    padding: 10px;
    /* align-items: center; */
    align-items: flex-end;
  }
  .header-wrap .logo {
    width: 30%;
  }
  .header-wrap .logo img {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  .menu-list {
    display: none;
  }
  .search-menu {
    margin-left: auto;
    padding: 25px 0 0 0;
  }
  .search-menu img {
    width: 7vw;
  }
  .search-menu span {
    margin-left: 1vw;
  }
  /* modal-menu */
  .menu-modal-list {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    margin-top: 28vw;
    line-height: 40px;
    font-weight: 700;
  }
  /* search */
  .search-content {
    padding: 20px 10px 70px 10px;
    text-align: center;
  }
  .search-content h2 {
    padding-top: 25%;
    padding-bottom: 50px;
    font-size: 25px;
  }
  .search-content input {
    width: 60%;
    font-size: 14px;
    font-weight: bold;
  }
  .search-content button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 14px;

    cursor: pointer;
  }
  .search-info {
    display: inline;
    padding: 5px 20px;
    background-color: rgba(231, 232, 234, 0.5);
    border-radius: 15px;
  }

  /* search-keyword */
  .trend-keyword ul {
    padding-top: 30px;
  }

  .trend-keyword ul li {
    margin-right: 10px;
    padding: 5px 0;
    border: 1px solid gray;
    border-radius: 30px;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .trend-keyword ul li a {
    color: #333;
    padding: 5px 10px;
  }
  .trend-keyword ul li:first-child {
    border: none;
    font-size: 20px;
    padding: none;
    font-weight: lighter;
    margin-left: 0;
  }

  /* section2 - best-item */
  .best-item-wrap {
    justify-content: left;
  }
  .best-item-wrap img {
    min-width: 180px;
  }
  .best-items {
    padding: 40px 0 30px 0;
  }
  .item-info .best-item-title {
    font-size: 14px;
  }
  .item-info .best-item-price {
    font-weight: bolder;
    font-size: 16px;
  }
  .best-item-wrap {
    overflow-x: scroll;
  }
  .marquee span {
    font-size: max(50px, 2.4rem);
  }
  .marquee__inner {
    animation: marquee 10s linear infinite;
  }
  /* section3  */
  .box-wrap {
    justify-content: left;
    overflow-x: scroll;
  }
  .section3-img {
    width: 75%;
  }
  .section3-contain {
    margin: 30px 0 50px 0;
  }
  .section3-title {
    margin-bottom: 10px;
    line-height: 43px;
    font-weight: 700;
    font-size: 25px;
  }
  .section3-des {
    font-weight: 700;
    font-size: 16px;
  }

  .view-more {
    background-color: #333;
    padding: 7px 15px;
    border-radius: 4px;
    margin: 16px 0 40px 0;
  }
  .view-more a {
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
  }
  .box-wrap .box {
    margin: 10px;

    padding: 4px 10px;
    background-color: #333;
    color: #f5e2e2;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 700;
  }
  .box-wrap .go-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    width: 22px;
    height: 22px;
    background: #171c8f url(../img/section3-makeup-look/icon-arrow-banner-1.svg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  /* section4 */
  .section4 {
    position: relative;
    padding: 50px 0;
  }
  .section4-intro h2 {
    font-size: 24px;
  }
  .section4-intro p {
    font-size: 16px;
  }
  .section4 .product-wrap .products .product {
    padding: 20px 5px 20px 0;
  }
  .section4 .product-wrap .products .product:first-child {
    margin-left: 20px;
  }
  .section4 .product-wrap .products .product .product-info {
    min-height: 70px;
    padding: 7px 8px;
  }
  .section4 .product-wrap .products .product .product-info span {
    font-size: 11px;
  }
  .section4 .product-wrap .products .product .product-info h3 {
    font-size: 14px;
  }
  .section4 .product-wrap .products .product .product-info p {
    font-size: 14px;
    padding: 5px 5;
  }
  .section4 .product-wrap .products .product {
    padding-bottom: 20px;
  }

  /* section5 */
  .section5 {
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .section5-wrap {
    padding: 0 20px 50px 20px;
  }
  .section5-intro {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 10px;
  }
  .section5-title {
    margin-bottom: 7px;
    margin-left: 5px;
    line-height: 43px;
    font-weight: 700;
    font-size: 25px;
  }
  .section5-icon {
    width: 35px;
  }
  .section5-des {
    display: none;
  }
  .section5 .view-more {
    display: none;
  }

  .section5-item {
    margin-right: 10px;
    min-width: 330px;
  }
  .section5-mobile-btn {
    margin-left: auto;
    display: block;
    font-size: 14px;
  }

  .section5-item {
    margin-bottom: 20px;
  }
  /* section6 */
  .section6 {
    position: relative;
    padding: 50px 20px 50px 20px;
  }

  .section6-intro h2 {
    font-size: 24px;
  }
  .section6-intro p {
    font-size: 16px;
  }
  .section6 .product-title {
    min-height: 30px;
  }
  .section6 .product-wrap .products .product {
    padding: 20px 5px 20px 0;
  }

  .section6 .product-wrap .products .product .product-info {
    min-height: 70px;
    padding: 7px 8px;
  }
  .section6 .product-wrap .products .product .product-info > div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-line-clamp: 2;
  }
  .section6 .product-wrap .products .product .product-info span {
    font-size: 11px;
  }
  .section6 .product-wrap .products .product .product-info h3 {
    font-size: 14px;
  }
  .section6 .product-wrap .products .product .product-info p {
    font-size: 14px;
    padding: 5px 5;
  }
  .section6 .product-wrap .products .product {
    padding-bottom: 20px;
  }
  .section6 .product-wrap .products .product {
    padding-bottom: 40px;
    width: 160px;
  }
  .section6-mobile-btn {
    margin-left: auto;
    display: block;
    font-size: 14px;
  }
  .section6-intro {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 10px;
  }
  .section6-title {
    margin-bottom: 7px;
    margin-left: 5px;
    line-height: 43px;
    font-weight: 700;
    font-size: 25px;
  }
  .section6-icon {
    width: 35px;
    transform: rotateY(180deg);
  }
  .section6-des {
    display: none;
  }
  .section6 .view-more {
    display: none;
  }
  /* section7 */
  .section7-tiktok-wrap {
    display: none;
  }
  .section7-instagram-banners p {
    /* position: absolute; */
    z-index: 5;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;

    text-align: center;
  }
  /* section8 */
  .section8 {
    padding: 50px 20px;
  }
  .section8-intro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .section8-title {
    margin-bottom: 10px;
    line-height: 43px;
    font-weight: 700;
    font-size: 25px;
  }
  .section8 .view-more {
    display: none;
  }

  .section8-intro h2 {
    font-size: 24px;
    margin: 0;
    margin-left: 7px;
  }
  .section8-intro p {
    font-size: 16px;
  }
  .section8-mobile-btn {
    display: block;
    margin-left: auto;
  }
  .section8-icon {
    width: 25px;
  }

  footer .des2 {
    font-size: 12px;
    font-weight: 700;
  }
  footer .end {
    text-align: center;
    font-size: 12px;
  }
  footer .end p {
    padding: 5px 0;
  }

  .footer {
    background-color: #f7f7f7;
    padding: 30px 20px;
  }
  footer .row {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  }
  .footer-col {
    width: 100%;
    padding: 10px 0;
  }
  .footer-col h4 {
    margin-bottom: 25px;
  }
  .footer-logo {
    flex-direction: row;
    justify-content: space-between;
    order: 4;
  }
  .footer-logo img {
    width: 100px;
  }

  .footer-notice li {
    float: left;
    margin-right: 10px;
  }
  .footer-col ul li {
    font-size: 12px;
  }
  .footer-col ul li a {
    font-size: 12px;
  }
  .footer .box {
    padding-top: 30px;
  }
}
