@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #111;
  font-family: 'Noto Sans KR', sans-serif;
}
h2 {
  color: #111;
  font-family: 'Noto Sans KR', sans-serif;
}
p {
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
}
li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}

.main-visual {
  position: relative;
  height: 100%;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(135, 80, 80);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide a {
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-scrollbar {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.086);
}
.swiper-scrollbar-drag {
  background-color: #eee;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 1%;
  bottom: 130px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-text {
  position: absolute;
  left: 150px;
  bottom: 0;
  transition: all 2s;
  opacity: 0;
  text-align: left;
}
.swiper-text h2 {
  font-size: 45px;
  font-weight: 700;

  margin: 0;
}
.swiper-text p {
  font-size: 22px;
  margin: 10px 0;
  font-weight: 700;
}

/* fix-btn */

.fix-btn {
  background-color: #ef426f;
  padding: 14px 16px;
  transform: rotate(270deg);
  transform-origin: right bottom;
  position: fixed;
  text-align: center;
  z-index: 999;
  display: inline-block;
  right: 0;
  top: 40%;
}
.fix-btn a {
  color: #f5e2e2;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

/* header */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
}
.header-wrap {
  display: flex;
  padding: 33px 60px;
  align-items: center;
}
.menu-list {
  flex: none;
  display: flex;
  padding: 40px 50px 0 50px;
}
.menu-list li {
  font-size: 16px;
  font-weight: 700;
  padding: 0 10px;
  margin: 0 10px;
}
.search-menu {
  padding: 50px 0 0 50px;
  margin-left: auto;
}
.search-menu span {
  margin-left: 20px;
}
.search-menu img {
  width: 35px;
}
