@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #111;
  font-family: 'Noto Sans KR', sans-serif;
}
h2 {
  color: #111;
  font-family: 'Noto Sans KR', sans-serif;
}
p {
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
}
li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}
/* main-visual */
.main-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-visual {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 997;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
/* slide-banner setting */
.swiper-slide-banner1 {
  background-image: url(../img/main-visual/1.jpg);
}
.swiper-slide-banner2 {
  background-image: url(../img/main-visual/2.jpg);
}
.swiper-slide-banner3 {
  background-image: url(../img/main-visual/3.jpg);
}
.swiper-slide-banner4 {
  background-image: url(../img/main-visual/4.jpg);
}
.swiper-slide-banner5 {
  background-image: url(../img/main-visual/5.jpg);
}
.swiper-slide-banner6 {
  background-image: url(../img/main-visual/6.jpg);
}
/* slide-banner setting -end */
.swiper-slide a {
  height: 100%;
  width: 100%;
}

.swiper-scrollbar {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.086);
}
.swiper-scrollbar-drag {
  background-color: #eee;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 1%;
  bottom: 130px;
  z-index: 50;
  height: 4px;
  width: 98%;
}

.swiper-text {
  position: absolute;
  left: 7%;
  bottom: 0;
  transition: all 2s;
  opacity: 0;
  text-align: left;
}
.swiper-text h2 {
  font-size: 45px;
  font-weight: 700;

  margin: 0;
}
.swiper-text p {
  font-size: 22px;
  margin: 10px 0;
  font-weight: 700;
}

/* fix-btn */

.fix-btn {
  background-color: #ef426f;
  padding: 14px 16px;
  transform: rotate(270deg);
  transform-origin: right bottom;
  position: fixed;
  text-align: center;
  z-index: 999;
  display: inline-block;
  right: 0;
  top: 40%;
}
.fix-btn a {
  color: #f5e2e2;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

/* header */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.header-wrap {
  display: flex;
  padding: 33px 60px;
  align-items: flex-end;
}
.menu-list {
  flex: none;
  display: flex;
  /* padding: 40px 50px 0 50px; */
  margin-left: 50px;
  position: relative;
}
.menu-list li {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 30px 0 10px;
  margin: 0 10px;
}

.menu-list li:first-child::after {
  content: 'NEW';
  font-size: 14px;
  display: block;
  position: absolute;
  top: 4px;
  left: 120px;
  color: #ef426f;
}
.search-menu {
  padding: 50px 0 0 50px;
  margin-left: auto;
}
.search-menu span {
  margin-left: 15px;
}
.search-menu img {
  width: 35px;
}
/* menu-modal */
.menu-modal-wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(242, 198, 207, 0.65);
  backdrop-filter: blur(12px);
  position: absolute;
  transition: all 1.5s;

  opacity: 0;
}

.menu-modal-wrap.on {
  opacity: 1;
  z-index: 998;
  display: block;
}
.menu-modal-list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  margin-top: 13%;
  line-height: 70px;
  font-weight: 700;
}

.menu-modal-list a:hover {
  color: #ef426f;
}

/* search */
.search-wrap {
  z-index: 998;
  position: absolute;
  width: 100%;
  background-color: #ffdee7;
}
.search-content {
  padding: 20px 60px 100px 60px;
  text-align: center;
}
.search-content h2 {
  padding-top: 200px;
  padding-bottom: 30px;
}
.search-info {
  display: inline;
  padding: 10px;
  background-color: #ef426f;
}

/* respone  */
@media (max-width: 1024px) {
  .swiper-slide-banner1 {
    background-image: url(../img/main-visual/respone/1.jpg);
  }
  .swiper-slide-banner2 {
    background-image: url(../img/main-visual/respone/2.jpg);
  }
  .swiper-slide-banner3 {
    background-image: url(../img/main-visual/respone/3.jpg);
  }
  .swiper-slide-banner4 {
    background-image: url(../img/main-visual/respone/4.jpg);
  }
  .swiper-slide-banner5 {
    background-image: url(../img/main-visual/respone/5.jpg);
  }
  .swiper-slide-banner6 {
    background-image: url(../img/main-visual/respone/6.jpg);
  }

  /* main-visual 페이지네이션 */
  .swiper-horizontal > .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: 90px;
  }

  .swiper-text h2 {
    font-size: 26px;
  }
  .swiper-text p {
    font-size: 14px;
  }
  .fix-wrap {
    display: none;
  }
  /* header */
  .header-wrap {
    display: flex;
    padding: 10px;
    align-items: center;
  }
  .header-wrap .logo img {
    height: 10vw;
  }
  .menu-list {
    display: none;
  }
  .search-menu {
    margin-left: auto;
    padding: 25px 0 0 0;
  }
  .search-menu img {
    width: 7vw;
  }
  .search-menu span {
    margin-left: 1vw;
  }
  /* modal-menu */
  .menu-modal-list {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    margin-top: 28vw;
    line-height: 40px;
    font-weight: 700;
  }
}
